<% if user_signed_in? %>
  <h1>Listing pins</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @pins.each do |pin| %>
        <tr>
          <td><%= pin.description %></td>
          <td><%= time_ago_in_words pin.created_at %></td>
          <td><%= pin.user.try( :email ) %></td>
          <% if current_user == pin.user %>
            <td><%= link_to 'Show', pin %></td>
            <td><%= link_to 'Edit', edit_pin_path(pin) %></td>
            <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
            <td></td><td></td><td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Add a New Pin', new_pin_path %>
<% else %>
  <div class="jumbotron">
    <h1>Welcome to my second efforts</h1>
    
    <p>
      <a class="btn btn-primary btn-lg" role="button" href="/users/sign_in"><span class="glyphicon glyphicon-fire"></span> Sign in</a>
      <a class="btn btn-danger btn-lg" role="button" href="/users/sign_up">Sign up</a>
      
    </p>
  </div>
<% end %>
